body{
    background-color: beige;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center; 
    
    
}
section{
    width: 80%;
}
.navbar{
    display:flex;
    justify-content: space-between;
}
.bd{
    font-weight: 600;
}
.sign_in{
    border: solid green ;
    border-radius: 5px;
    color: green;
    font-weight: 600;
    padding: 5px;
}
.landing_page{
    border-radius: 10px;
    background-color: rgb(209, 243, 209);
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 40px;
    margin-top: 20px;
}
.nbd{
    border: none;
    background-color: rgb(43, 94, 43);
    padding: 7px 10px;
    border-radius: 5px;
    color:white;
    font-size:x-small;
}
h1{
    font-size: 47px;
}